:root {
    color-scheme: light dark;
    --main-font: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Hiragino Kaku Gothic ProN, Hiragino Sans, ヒラギノ角ゴ ProN W3, Arial, メイリオ, Meiryo, sans-serif;
    --accent-color: #f7931a;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: var(--main-font);
    background-color: var(--bg-color);
    color: var(--main-text-color);
    text-align: center;
    margin: 0 16px;
}

a,
a:visited {
    color: var(--main-text-color);
}

button>* {
    pointer-events: none;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1;
}

.title {
    font-size: 2.3rem;
    font-weight: bold;
    margin: 0 0 8px 0;
}

.subtitle {
    font-size: 0.88rem;
    margin-top: 8px;
}

.subject {
    font-size: 1rem;
    word-break: keep-all;
    overflow-wrap: break-word;
    padding: 0;
}

.example-d {
    font-size: 0.9rem;
    text-align: left;
    width: auto;
    max-width: 580px;
    margin: auto;
    margin-top: 12px;
}

.example-s {
    font-size: 0.95rem;
    cursor: pointer;
    width: max-content;
    margin-left: 10px;
}

.example-ul1 {
    margin: 8px 0 20px 0;
    padding-left: 30px;

    & li {
        margin-top: 6px;
    }
}

.example-ul2 {
    padding-left: 20px;

    & li {
        margin: 1px 0;
    }
}

.date-example {
    display: inline;
    cursor: pointer;
    text-decoration: underline
}

#investmentForm {
    display: grid;
    grid-template-columns: 76px minmax(auto, 500px);
    grid-template-rows: 30px 44px 44px 44px 44px;
    gap: 8px 10px;
    justify-content: center;
    align-items: center;
    margin: 14px 0 28px 0;
}

#investmentForm>*:nth-child(2n+1) {
    text-align: right;
}

/* #investmentForm>*:nth-child(9) {
    text-align: center;
} */

label,
div.purchaseFrequency {
    font-size: 1.2rem;
}

#purchaseFrequency {
    display: flex;
    justify-content: space-evenly;
    margin: 0 20px;
}

.purchaseFrequency-label,
#monthly,
#weekly,
#daily {
    cursor: pointer;
    margin: 0;
    padding: 0;
}

input[type="date"],
input[type="text"] {
    -webkit-appearance: none;
    appearance: none;
    font-size: 1.7rem;
    color: var(--input-text-color);
    background-color: var(--input-bg-color);
    text-align: center;
    border: none;
    border-radius: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#submitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: var(--accent-color);
    grid-column: span 2;
    cursor: pointer;
    font-size: 1.4rem;
    border: 0;
    border-radius: 0;
    height: 100%;
    position: relative;
    padding: 0;
}

#submitBtn:active {
    transform: scale(0.96);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner-wrapper {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    border: 6px solid #ffffff;
    border-top: 6px solid var(--accent-color);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 1s linear infinite;
}

p {
    margin: 5px 0;
}

.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.results-header {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0 0 12px 0;
}

.results-text {
    font-size: 1.3rem;
    font-weight: normal;
}

.results-important {
    font-size: 1.4rem;
    font-weight: bold;
}

.results-btc {
    font-size: 1.3rem;
    font-weight: normal;
}

.detail-history-s {
    width: max-content;
    cursor: pointer;
    margin: 24px auto 18px auto;
}

table {
    margin: auto;
}

td {
    color: var(--input-text-color);
    font-family: 'Courier New', monospace;
    white-space: pre;
    text-align: right;
}

td:nth-child(2) {
    padding: 0 14px;
}

.flex-ref {
    display: flex;
    justify-content: flex-end;
    margin: 32px 0 14px 0;
}

.reference {
    text-align: right;
    font-size: 0.85rem;
    width: 100%;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #ffffff;
        --input-bg-color: #EDEDED;
        --main-text-color: #424242;
        --input-text-color: #000000;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1a1a1a;
        --input-bg-color: #363636;
        --main-text-color: #e6e6e6;
        --input-text-color: #ffffff;
    }
}