:root {
    color-scheme: light dark;
    --main-font: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Hiragino Kaku Gothic ProN, Hiragino Sans, ヒラギノ角ゴ ProN W3, Arial, メイリオ, Meiryo, sans-serif;
    --accent-color: #f7931a;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: var(--main-font);
    background-color: var(--bg-color);
    color: var(--main-text-color);
    text-align: center;
    margin: 0 12px;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 20px 0;
}

form {
    display: grid;
    grid-template-columns: 70px minmax(100px, 500px);
    grid-template-rows: 40px 40px 40px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
}

input[type="date"],
input[type="number"] {
    font-size: 1.6rem;
    color: var(--input-text-color);
    background-color: var(--input-bg-color);
    text-align: center;
    border: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

button {
    background-color: var(--accent-color);
    grid-column: span 2;
    cursor: pointer;
    font-size: 1.2rem;
    border: 0;
    border-radius: 0;
    height: 100%;
    transition: transform 0.05s ease;
}

button:active {
    transform: scale(0.95);
}

button:hover {
    background-color: var(--accent-color);
}

label {
    font-size: 1.1rem;
}

p {
    margin: 4px 0;
}

.results-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 38px 0 24px;
}

.results-text {
    font-size: 1.2rem;
    font-weight: normal;
}

.results-important {
    color: var(--input-text-color);
    font-size: 1.3rem;
    font-weight: bold;
}

.results-btc {
    font-size: 1.2rem;
    font-weight: normal;
}

.flex-ref {
    display: flex;
    justify-content: flex-end;
    margin: 32px 0 6px 0;
}

.reference {
    text-align: right;
    font-size: 0.85rem;
    width: 100%;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #ffffff;
        --input-bg-color: #EDEDED;
        --main-text-color: #4D4D4D;
        --input-text-color: #000000;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1a1a1a;
        --input-bg-color: #363636;
        --main-text-color: #e6e6e6;
        --input-text-color: #ffffff;
    }
}